@media screen and (max-width: 768px) {
  .para_768{
    width:320px;
  }
  .rocket_photo_768{
    margin-left:0 auto !important;
    margin-top:30px;
  }
  .dish_photo_768{

    margin-top:30px;
  }
  .rocket_link_768{
    padding:15px ;
    width:180px ;
    height:50px ;
    margin-left:25px;

  }
  .dish_link_768{
    padding:13px;
    width:180px;
    height:50px;
    margin-left:25px;
  }
}
@media screen and (max-width: 640px) {
  #name {
    width: 508px;
    margin-right:-30px !important;
    margin-left:-15px !important;
    text-align:center;
  }

  #navbar_640 {
    width:100%;

  }
  #photo_640{
      margin-left:auto;
      margin-right:auto;
  }
  #rocket_photo_640{
      margin-left:25% !important;
      margin-right:26% !important;

  }
  #dish_photo_640{
      margin-left:16% !important;
      margin-right:18% !important;
      margin-top:30px;
  }
  #rocket_link_640{
    padding:13px !important;
    width:180px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
  }
  #dish_link_640{
    padding:13px !important;
    width:180px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
  }
}